/* Aplica a todo el documento */
* {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent; /* Color del slider y el fondo */
  }
  
  /* Para navegadores WebKit (Chrome, Safari, etc.) */
  ::-webkit-scrollbar {
    width: 1px; /* Ancho de la barra de desplazamiento más delgada */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Fondo del track transparente */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0); /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); /* Sombra para hacer que el slider se note más sobre el contenido */
  }
  