---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myu Fashion Shop</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .custom-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            border-radius: 25px;
            font-weight: bold;
            width: 80%;
            margin-top: 10px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .custom-button:hover {
            transform: translate(5px, -5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .cart-button {
            background-color: #FFD1E0;
            color: #4A3E4C;
        }
        .whatsapp-button {
            background-color: #FFD1E0;
            color: #4A3E4C;
        }
        .button-icon {
            margin-right: 8px;
        }
        .custom-list {
            list-style-type: disc;
            padding-left: 20px;
        }
        .custom-list li {
            margin-bottom: 8px;
        }
        .custom-list {
            color: #e8e7e1;
        }
        .custom-list li::marker {
            color: #e8e7e1;
        }
        #map {
            width: 100%;
            height: 300px;
        }

        /* Estilos para dispositivos móviles */
        @media (max-width: 768px) {
            .image-gallery-container {
                flex-direction: column-reverse;
            }
            .thumbnail-container {
                display: flex;
                flex-direction: row;
                overflow-x: auto;
                padding: 0;
                gap: 4px;
                margin-top: 10px;
            }
            .thumbnail-container img {
                max-width: 80px;
                max-height: 80px;
            }
            .main-image-container {
                position: relative;
            }
            .main-image-container img {
                width: 100%;
            }
            .nav-buttons {
                position: absolute;
                top: 50%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                transform: translateY(-50%);
            }
            .nav-buttons button {
                background-color: rgba(255, 255, 255, 0.7);
                border: none;
                padding: 10px;
                cursor: pointer;
            }
            .nav-buttons .prev-btn {
                left: 0;
            }
            .nav-buttons .next-btn {
                right: 0;
            }
        }

        /* Estilos para pantallas grandes */
        @media (min-width: 769px) {
            .image-gallery-container {
                flex-direction: row;
            }
            .thumbnail-container {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                padding: 0;
                gap: 4px;
            }
            .thumbnail-container img {
                max-width: 120px;
                max-height: 120px;
            }
            .main-image-container {
                position: relative;
            }
            .main-image-container img {
                width: 100%;
            }
        }
    </style>
</head>
<body class="bg-[#FFECF4] font-sans text-[#444444]"> 
    <Header />
    <div class="h-2"></div>
    <!-- Product Section -->
    <section class="container mx-auto p-10 mt-20 grid grid-cols-1 lg:grid-cols-2 gap-7">
        <!-- Image Gallery -->
        <div class="flex items-start space-x-4 lg:space-x-8 image-gallery-container">
            <!-- Thumbnails -->
            <div class="flex flex-col space-y-4 items-center thumbnail-container">
                <div class="bg-white p-2 rounded-lg shadow-lg cursor-pointer" onclick="changeImage(0)">
                    <img src="img/falda37.jpg" alt="Falda #28" class="w-24 h-24 rounded-lg" data-index="0">
                </div>
                <div class="bg-white p-2 rounded-lg shadow-lg cursor-pointer" onclick="changeImage(1)">
                    <img src="img/falda37l.jpg" alt="Vista 1" class="w-24 h-24 rounded-lg" data-index="1">
                </div>
                <!-- Agrega más imágenes aquí si es necesario -->
            </div>
            
            <!-- Main Image -->
            <div class="main-image-container flex-grow bg-white p-2 rounded-lg shadow-lg relative">
                <img id="mainImage" src="img/falda37.jpg" alt="Falda Principal" class="w-full h-auto rounded-lg">
                <!-- Navigation Buttons -->
                <div class="nav-buttons">
                    <button class="prev-btn" onclick="prevImage()">&#10094;</button>
                    <button class="next-btn" onclick="nextImage()">&#10095;</button>
                </div>
            </div>
        </div>

        <!-- Product Details -->
        <div class="bg-[#FFE6EE] p-8 rounded-lg shadow-lg product-details">
            <h2 class="text-[#4A3E4C] text-3xl font-bold">FALDA #28</h2>
            <div class="mt-4">
                <p class="font-semibold">MATERIAL:</p>
                <p class="text-gray-600">Algodón suave con un toque de elastano para mayor comodidad y ajuste.</p>
            </div>
            <div class="mt-4">
                <p class="font-semibold">DISEÑO:</p>
                <p class="text-gray-600">Clásico y elegante con un corte A-line que se ajusta a la cintura y fluye hacia abajo, proporcionando un look atemporal.</p>
            </div>
            <div class="mt-4">
                <span class="font-semibold">COLOR:</span>
                <span>Blanco</span>
            </div>
            <div class="mt-4">
                <span class="font-semibold">TALLA:</span>
                <div class="flex items-center mt-2 space-x-4">
                    <label class="inline-flex items-center">
                        <input type="radio" class="form-radio text-pink-600" name="size" value="S">
                        <span class="ml-2">S</span>
                    </label>
                    <label class="inline-flex items-center">
                        <input type="radio" class="form-radio text-pink-600" name="size" value="M">
                        <span class="ml-2">M</span>
                    </label>
                    <label class="inline-flex items-center">
                        <input type="radio" class="form-radio text-pink-600" name="size" value="L">
                        <span class="ml-2">L</span>
                    </label>
                </div>
            </div>
            <div class="mt-4">
                <span class="font-semibold">SKU:</span>
                <span>0050</span>
            </div>
            <div class="mt-4 text-3xl text-[#FF71A9] font-bold">S/. 1.00</div>
            <div class="mt-4 flex flex-col">
                <button class="custom-button cart-button">
                    <span class="button-icon"></span>
                    AGREGAR AL CARRITO <img src="img/carrito-kawai.png" class="w-13 h-11 ml-4">
                </button>
                <button class="custom-button whatsapp-button">
                    <span class="button-icon"></span>
                    CONTINUAR COMPRA A <img src="img/wasa-kawai.png" class="w-13 h-11 ml-4">
                </button>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <Footer />

    <script type="module">
        const images = [
            'img/falda37.jpg',
            'img/falda37l.jpg',
            // Agrega más imágenes aquí según sea necesario
        ];

        let currentImageIndex = 0;

        function changeImage(index) {
            currentImageIndex = index;
            document.getElementById('mainImage').src = images[currentImageIndex];
        }

        function prevImage() {
            currentImageIndex = (currentImageIndex - 1 + images.length) % images.length;
            document.getElementById('mainImage').src = images[currentImageIndex];
        }

        function nextImage() {
            currentImageIndex = (currentImageIndex + 1) % images.length;
            document.getElementById('mainImage').src = images[currentImageIndex];
        }

        // Eventos de teclado para cambiar imágenes en PC
        document.addEventListener('keydown', (e) => {
            if (e.key === 'ArrowLeft') {
                prevImage();
            } else if (e.key === 'ArrowRight') {
                nextImage();
            }
        });

        // Eventos de clic en miniaturas en PC y móvil
        document.querySelectorAll('.thumbnail-container img').forEach((img, index) => {
            img.addEventListener('click', () => {
                changeImage(index);
            });
        });

        // Eventos de clic en la imagen principal en móvil
        document.getElementById('mainImage').addEventListener('click', () => {
            nextImage();
        });

        // Eventos de clic en flechas de navegación en móvil
        document.querySelector('.prev-btn').addEventListener('click', prevImage);
        document.querySelector('.next-btn').addEventListener('click', nextImage);
    </script>
</body>
</html>
