---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Seccion from "../components/Seccion.astro"
import Categorias from '../components/Categorias.astro';
import Forsale from '../components/ForSale.astro';
import Footer from '../components/footer.astro';
import New from '../components/new.astro';
import Productos from '../components/Productos.astro';
---

<Layout title="MYU WEB">
    <main>
        <style>
            body{
                margin: 0px;
            }
        </style>
        <Header />
        <Seccion />
        <Categorias />
        <Forsale />
        <New />
        <Productos />
        <Footer />
    </main>
