---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Seccion from "../components/Seccion.astro"
import Categorias from '../components/Categorias.astro';
import Forsale from '../components/ForSale.astro';
---

<Layout title="Tesla">
    <main>
        <style>
            body{
                margin: 0px;
            }
        </style>
        <Header />
        <Seccion />
        <Categorias />
        <Forsale />
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, sit cum modi recusandae minima, laboriosam aliquam nisi cupiditate ad nihil repellat sint quis unde labore quo maiores, ratione quibusdam dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt totam sunt corporis temporibus mollitia iure asperiores soluta, molestias porro, fugit assumenda voluptatem minima vero tempore eius voluptatum, numquam dolores animi.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, architecto ea vitae ullam odit voluptatem qui maiores ad provident. Ab architecto corporis pariatur mollitia minima. Dolorum modi nulla omnis pariatur!
        </p>
    </main>
=======




