---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

interface Banner {
  id_banner: number;
  tipo: string;
  img1: string;
  img2: string;
  img3: string;
  img1cell: string;
  img2cell: string;
  img3cell: string;
}

// Fetch de banners desde la API
const bannersResponse = await fetch('http://localhost:3000/api/banners');

if (!bannersResponse.ok) {
  console.error('Error al obtener banners:', bannersResponse.statusText);
  throw new Error(`Error al obtener banners: ${await bannersResponse.text()}`);
}

const banners: Banner[] = await bannersResponse.json();
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda - Zona Outlet</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        background-color: #fffcf6;
        font-family: "Arial", sans-serif;
        overflow-x: hidden;
      }

      .no-scroll {
        height: 100%;
        overflow: hidden;
      }

      .container {
        width: 90%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 0;
      }

      .cards-container {
        display: grid;
        gap: 2rem;
        justify-content: center;
      }

      @media (max-width: 1023px) {
        .cards-container {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @media (min-width: 1024px) {
        .cards-container {
          grid-template-columns: repeat(4, 1fr);
        }
      }

      .card {
        width: 100%;
      }

      .page-title {
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        color: #4a5568;
        margin-bottom: 2rem;
        margin-top: -4rem; /* Ajusta a un valor más pequeño aquí */
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .filter-button {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        background-color: #f5bacf;
        color: white;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .filter-button:hover {
        background-color: #f5bacf;
      }

      .filter-button svg {
        margin-right: 0.5rem;
      }

      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 40;
      }

      .overlay.show {
        transform: translateX(0);
      }

      .overlay-content {
        width: 80%;
        max-width: 360px;
        background: white;
        height: 100%;
        padding: 2rem;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      }

      .banner {
        height: 400px;
        background-size: cover;
        background-position: center;
        margin-top: 2rem;
      }

      @media (max-width: 640px) {
        .banner {
          height: 200px;
        }
      }

      .section-title {
        font-size: 1.75rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 1.5rem;
        text-align: center;
      }

      .section-item {
        background-color: #f1f1f1;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #555;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .section-item:hover {
        background-color: #ddd;
      }

      .banner img {
        width: 100%;
        height: auto; /* Mantén la proporción de la imagen */
        display: block;
      }



    </style>
  </head>
  <body>
    <Header />
    <br>

    <div class="container">
      {banners.length > 0 ? (
        <div class="banner">
          <img 
            src={banners[0].img1} 
            srcset={`${banners[0].img1cell} 768w, ${banners[0].img1} 1024w`} 
            sizes="(max-width: 768px) 100vw, 1024px" 
            alt={`Banner ${banners[0].id_banner}`} 
          />
        </div>
      ) : (
        <p>No hay banners disponibles</p>
      )}
    </div>
    
    
    <!-- Secciones de Hombre, Mujer, Niños -->
<div class="container my-6">
  <!-- Cambia my-12 por my-6 aquí -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mb-6">
    <a href="/Novedades/Mujer" class="section-item bg-gray-200 h-40 flex items-center justify-center">
      Mujer
    </a>
    <a href="/Novedades/Hombre" class="section-item bg-gray-200 h-40 flex items-center justify-center">
      Hombre
    </a>
    <a href="/Novedades/niño" class="section-item bg-gray-200 h-40 flex items-center justify-center">
      Niños
    </a>
  </div>
</div>


      </div>
    </div>
    <div class="container mt-6">
      <h1 class="page-title">NOVEDADES</h1>

      <!-- Botón de filtro visible solo en dispositivos móviles -->
      <button
        class="filter-button flex items-center md:hidden"
        id="filterToggleMobile"
      >
        <svg
          class="w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 5h18M3 12h18M3 19h18"></path>
        </svg>
        Filtros
      </button>
      <br />
      <br />
      <div class="flex flex-wrap">
        <!-- Panel de filtros visible solo en dispositivos móviles -->
        <aside class="overlay" id="filterSidebarMobile">
          <div class="overlay-content">
            <button
              class="text-gray-600 hover:text-gray-800 focus:outline-none"
              id="closeFilterMobile"
            >
              <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
            <h2 class="font-bold text-xl mb-4">Filtros</h2>
            <div class="mb-6">
              <h3 class="font-semibold">Descuento</h3>
              <ul class="space-y-2 mt-2">
                <li>
                  <input type="checkbox" id="descuento30-mobile" />
                  <label for="descuento30-mobile">Hasta 30%</label>
                </li>
                <li>
                  <input type="checkbox" id="descuento40-mobile" />
                  <label for="descuento40-mobile">30% - 40%</label>
                </li>
                <li>
                  <input type="checkbox" id="descuento50-mobile" />
                  <label for="descuento50-mobile">40% - 50%</label>
                </li>
                <li>
                  <input type="checkbox" id="descuento60-mobile" />
                  <label for="descuento60-mobile">50% - 60%</label>
                </li>
                <li>
                  <input type="checkbox" id="mas60-mobile" />
                  <label for="mas60-mobile">Más de 60%</label>
                </li>
              </ul>
            </div>

            <div class="mb-6">
              <h3 class="font-semibold">Color</h3>
              <ul class="space-y-2 mt-2">
                <li>
                  <input type="checkbox" id="colorAmarillo-mobile" />
                  <label for="colorAmarillo-mobile">Amarillo</label>
                </li>
                <li>
                  <input type="checkbox" id="colorAzul-mobile" />
                  <label for="colorAzul-mobile">Azul</label>
                </li>
                <li>
                  <input type="checkbox" id="colorBlanco-mobile" />
                  <label for="colorBlanco-mobile">Blanco</label>
                </li>
              </ul>
            </div>

            <div>
              <h3 class="font-semibold">Precio</h3>
              <ul class="space-y-2 mt-2">
                <li>
                  <input type="checkbox" id="precio20-mobile" />
                  <label for="precio20-mobile">Hasta S/ 20.00</label>
                </li>
                <li>
                  <input type="checkbox" id="precio40-mobile" />
                  <label for="precio40-mobile">S/ 20.00 - S/ 40.00</label>
                </li>
                <li>
                  <input type="checkbox" id="precio60-mobile" />
                  <label for="precio60-mobile">S/ 40.00 - S/ 60.00</label>
                </li>
              </ul>
            </div>
          </div>
        </aside>

        <!-- Filtros para escritorio -->
        <aside class="w-1/5 hidden md:block">
          <h2 class="font-bold text-xl mb-4">Filtros</h2>
          <div class="mb-6">
            <h3 class="font-semibold">Descuento</h3>
            <ul class="space-y-2 mt-2">
              <li>
                <input type="checkbox" id="descuento30" />
                <label for="descuento30">Hasta 30%</label>
              </li>
              <li>
                <input type="checkbox" id="descuento40" />
                <label for="descuento40">30% - 40%</label>
              </li>
              <li>
                <input type="checkbox" id="descuento50" />
                <label for="descuento50">40% - 50%</label>
              </li>
              <li>
                <input type="checkbox" id="descuento60" />
                <label for="descuento60">50% - 60%</label>
              </li>
              <li>
                <input type="checkbox" id="mas60" />
                <label for="mas60">Más de 60%</label>
              </li>
            </ul>
          </div>

          <div class="mb-6">
            <h3 class="font-semibold">Color</h3>
            <ul class="space-y-2 mt-2">
              <li>
                <input type="checkbox" id="colorAmarillo" />
                <label for="colorAmarillo">Amarillo</label>
              </li>
              <li>
                <input type="checkbox" id="colorAzul" />
                <label for="colorAzul">Azul</label>
              </li>
              <li>
                <input type="checkbox" id="colorBlanco" />
                <label for="colorBlanco">Blanco</label>
              </li>
            </ul>
          </div>

          <div>
            <h3 class="font-semibold">Precio</h3>
            <ul class="space-y-2 mt-2">
              <li>
                <input type="checkbox" id="precio20" />
                <label for="precio20">Hasta S/ 20.00</label>
              </li>
              <li>
                <input type="checkbox" id="precio40" />
                <label for="precio40">S/ 20.00 - S/ 40.00</label>
              </li>
              <li>
                <input type="checkbox" id="precio60" />
                <label for="precio60">S/ 40.00 - S/ 60.00</label>
              </li>
            </ul>
          </div>
        </aside>

        <!-- Productos -->
        <section class="w-full md:w-4/5">
          <div class="cards-container">

          </div>
        </section>
      </div>
    </div>

    <Footer />

    <script type="module">
      // Mostrar y ocultar el filtro en móvil
      document
        .getElementById("filterToggleMobile")
        .addEventListener("click", function () {
          document.getElementById("filterSidebarMobile").classList.add("show");
          document.body.classList.add("no-scroll");
        });

      document
        .getElementById("closeFilterMobile")
        .addEventListener("click", function () {
          document
            .getElementById("filterSidebarMobile")
            .classList.remove("show");
          document.body.classList.remove("no-scroll");
        });
    </script>
  </body>
</html>
