---
import Header from "../components/header.astro";
import Card from "../components/Card.astro";
import Footer from "../components/footer.astro";
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda - Zona Outlet</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        background-color: #fffcf6;
      }
      @media (max-width: 640px) {
        /* Ajustes para pantallas pequeñas (celulares) */
        .banner {
          height: 200px; /* Ajustar altura del banner */
          background-size: cover;
          background-position: center;
        }
      }
      .no-scroll {
        overflow: hidden;
      }
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 50;
        display: none;
      }
      .overlay.show {
        display: block;
      }
      .overlay-content {
        background-color: white;
        padding: 1rem;
        position: relative;
        width: 80%;
        max-width: 300px;
        margin: 100px auto;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body>
    <Header />
    <br>
    <br>
    <br>
    <div
      class="container mx-auto px-4 py-16 flex items-center justify-center banner h-96 sm:h-64"
      style="background-image: url('/public/img/banner_novedades.jpeg'); background-size: cover; background-position: center; margin-top: 2rem;"
    >
    </div>

    <main class="container mx-auto px-4 my-8">
      <div class="flex flex-col lg:flex-row">
        <aside class="w-full lg:w-1/5 p-4 bg-white shadow-md mb-8 lg:mb-0 hidden md:block" id="filterSidebar">
          <h2 class="font-bold text-xl mb-4">Filtros</h2>
          <div class="mb-6">
            <h3 class="font-semibold">Descuento</h3>
            <ul class="space-y-2 mt-2">
              <li><input type="checkbox" id="descuento30" /> <label for="descuento30">Hasta 30%</label></li>
              <li><input type="checkbox" id="descuento40" /> <label for="descuento40">30% - 40%</label></li>
              <li><input type="checkbox" id="descuento50" /> <label for="descuento50">40% - 50%</label></li>
              <li><input type="checkbox" id="descuento60" /> <label for="descuento60">50% - 60%</label></li>
              <li><input type="checkbox" id="mas60" /> <label for="mas60">Más de 60%</label></li>
            </ul>
          </div>
          <div class="mb-6">
            <h3 class="font-semibold">Color</h3>
            <ul class="space-y-2 mt-2">
              <li><input type="checkbox" id="colorAmarillo" /> <label for="colorAmarillo">Amarillo</label></li>
              <li><input type="checkbox" id="colorAzul" /> <label for="colorAzul">Azul</label></li>
              <li><input type="checkbox" id="colorBlanco" /> <label for="colorBlanco">Blanco</label></li>
            </ul>
          </div>
          <div>
            <h3 class="font-semibold">Precio</h3>
            <ul class="space-y-2 mt-2">
              <li><input type="checkbox" id="precio20" /> <label for="precio20">Hasta S/ 20.00</label></li>
              <li><input type="checkbox" id="precio40" /> <label for="precio40">S/ 20.00 - S/ 40.00</label></li>
              <li><input type="checkbox" id="precio60" /> <label for="precio60">S/ 40.00 - S/ 60.00</label></li>
            </ul>
          </div>
        </aside>

        <!-- Filtros para mobile -->
        <div class="md:hidden">
          <button class="filter-button flex items-center text-white border border-gray-300 rounded-lg shadow-sm transform transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-xl focus:outline-none focus:ring-2 focus:ring-pink-500" id="filterToggle">
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5h18M3 12h18M3 19h18"></path>
            </svg>
            Filtros
          </button>
          <aside class="overlay" id="filterSidebarMobile">
            <div class="overlay-content">
              <button class="text-gray-600 hover:text-gray-800 focus:outline-none" id="closeFilterMobile">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </button>
              <h2 class="font-bold text-xl mb-4">Filtros</h2>
              <div class="mb-6">
                <h3 class="font-semibold">Descuento</h3>
                <ul class="space-y-2 mt-2">
                  <li><input type="checkbox" id="descuento30-mobile" /> <label for="descuento30-mobile">Hasta 30%</label></li>
                  <li><input type="checkbox" id="descuento40-mobile" /> <label for="descuento40-mobile">30% - 40%</label></li>
                  <li><input type="checkbox" id="descuento50-mobile" /> <label for="descuento50-mobile">40% - 50%</label></li>
                  <li><input type="checkbox" id="descuento60-mobile" /> <label for="descuento60-mobile">50% - 60%</label></li>
                  <li><input type="checkbox" id="mas60-mobile" /> <label for="mas60-mobile">Más de 60%</label></li>
                </ul>
              </div>
              <div class="mb-6">
                <h3 class="font-semibold">Color</h3>
                <ul class="space-y-2 mt-2">
                  <li><input type="checkbox" id="colorAmarillo-mobile" /> <label for="colorAmarillo-mobile">Amarillo</label></li>
                  <li><input type="checkbox" id="colorAzul-mobile" /> <label for="colorAzul-mobile">Azul</label></li>
                  <li><input type="checkbox" id="colorBlanco-mobile" /> <label for="colorBlanco-mobile">Blanco</label></li>
                </ul>
              </div>
              <div>
                <h3 class="font-semibold">Precio</h3>
                <ul class="space-y-2 mt-2">
                  <li><input type="checkbox" id="precio20-mobile" /> <label for="precio20-mobile">Hasta S/ 20.00</label></li>
                  <li><input type="checkbox" id="precio40-mobile" /> <label for="precio40-mobile">S/ 20.00 - S/ 40.00</label></li>
                  <li><input type="checkbox" id="precio60-mobile" /> <label for="precio60-mobile">S/ 40.00 - S/ 60.00</label></li>
                </ul>
              </div>
            </div>
          </aside>
        </div>

        <!-- Productos -->
        <section class="w-full lg:w-4/5 lg:ml-8">
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mb-6">
            <div class="bg-gray-200 h-40 flex items-center justify-center">Mujer (Fill here)</div>
            <div class="bg-gray-200 h-40 flex items-center justify-center">Hombre (Fill here)</div>
            <div class="bg-gray-200 h-40 flex items-center justify-center">Accesorios (Fill here)</div>
          </div>
          <div class="bg-white p-4 shadow-md">
            <h2 class="font-bold text-2xl mb-4">Resultados</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-1">
              <div>
                <Card/>
              </div>
              <div>
                <Card/>
              </div>
              <div>
                <Card/>
              </div>
              <div>
                <Card/>
              </div>

            </div>
          </div>
        </section>
      </div>
    </main>

    <footer class="bg-gray-900 text-white p-6 mt-16">
      <div class="container mx-auto text-center">
        <p>&copy; 2023 Zona Outlet</p>
      </div>
    </footer>

    <script type="module">
      document.getElementById('filterToggle').addEventListener('click', function () {
        document.getElementById('filterSidebarMobile').classList.add('show');
        document.body.classList.add('no-scroll');
      });

      document.getElementById('closeFilterMobile').addEventListener('click', function () {
        document.getElementById('filterSidebarMobile').classList.remove('show');
        document.body.classList.remove('no-scroll');
      });
    </script>
  </body>
</html>
