<div class="flex flex-wrap justify-center gap-4 lg:justify-start rounded-2xl">
  <div class="card w-[90%] sm:w-auto sm:max-w-xs bg-white rounded-xl duration-500 hover:scale-105 hover:shadow-xl transform transition-transform ease-out shadow-lg">
    <a href="http://localhost:4321/detalle">
      <img src="/public/img/faldas.png" alt="Product" class="h-48 max-w-full sm:h-64 object-cover rounded-t-xl" />
      <div class="px-2 py-1 sm:px-3 sm:py-2">
        <p class="text-md sm:text-lg font-bold text-black truncate block capitalize">Product Name</p>
        <div class="flex items-center">
          <p class="text-md sm:text-lg font-semibold text-black cursor-auto my-2 sm:my-3">$149</p>
          <del>
            <p class="text-sm text-gray-600 cursor-auto ml-2">$199</p>
          </del>
        </div>
      </div>
    </a>
    <!-- Botón de compra con redirección -->
    <div class="px-2 py-2 sm:px-3 sm:py-3">
      <button onclick="window.location.href='http://localhost:4321/detalle'" class="w-full bg-[#f6bbd0] text-white text-md sm:text-lg font-semibold py-2 rounded-lg hover:bg-pink-600 transition duration-300 ease-in-out">
        Comprar
      </button>
    </div>
  </div>
</div>

<style>
  /* Para pantallas grandes (PCs, más de 1024px) */
  @media (min-width: 1024px) {
    .card {
      width: 100%;
    }
  }
  
  /* Para tablets grandes (768px a 1023px) */
  @media (min-width: 768px) and (max-width: 1023px) {
    .card {
      width: 90%;
    }
  }
  
  /* Para tablets pequeñas (más de 640px y hasta 767px) */
  @media (min-width: 640px) and (max-width: 767px) {
    .card {
      width: 30%;
    }
  }
  
  /* Para móviles (menos de 640px) */
  @media (max-width: 639px) {
    .card {
      width: 90%;
    }
  }
</style>
