<section class="py-10">
<<<<<<< HEAD
    <h2 class="text-2xl font-bold text-center mb-4 bg-[#f6bbb0] py-3 text-white">CATEGORÍAS</h2>
    <div class="flex justify-center space-x-4 px-4 mx-auto" style="max-width: 2000px;">
=======
    <h2 class="text-2xl font-bold text-center mb-4 bg-[#f6bbd0] py-3 text-white">CATEGORÍAS</h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 px-4 mx-auto" style="max-width: 2000px;">
>>>>>>> 27843b2f836a362ddff58de2d380215c90dd40d1
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden">
            <img src="https://www.topitop.pe/arquivos/240819_banner_desktop_6.png?v=638596431281830000" alt="Vestidos" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2">VESTIDOS</p>
        </div>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden">
            <img src="https://www.topitop.pe/arquivos/240819_banner_desktop_1.png?v=638596431272970000" alt="Faldas" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2">FALDAS</p>
        </div>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden">
            <img src="https://www.topitop.pe/arquivos/240819_banner_desktop_7.png?v=638596431277930000" alt="Pantalones" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2">PANTALONES</p>
        </div>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden">
            <img src="https://www.topitop.pe/arquivos/240819_banner_desktop_12.png?v=638596431283570000" alt="Polos" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2">POLOS</p>
        </div>
        <br>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden">
            <img src="https://www.topitop.pe/arquivos/240819_banner_desktop_6.png?v=638596431281830000" alt="Poleras" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2">POLERAS</p>
        </div>
        <br>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden">
            <img src="/public/img/zapatos.png" alt="Zapatos" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-justify-center text-white bg-[#f6bbd0] bg-opacity-50 py-2">ZAPATOS</p>
        </div>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden">
            <img src="https://www.topitop.pe/arquivos/240819_banner_desktop_1.png?v=638596431272970000" alt="Zapatos" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2">ZAPATOS</p>
        </div>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden">
            <img src="https://www.topitop.pe/arquivos/240819_banner_desktop_1.png?v=638596431272970000" alt="Zapatos" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2">ZAPATOS</p>
        </div>
        
    </div> 
</section>
