<section class="py-10">
    <h2 class="text-2xl font-bold text-center mb-4 bg-[#f6bbd0] py-3 text-white">CATEGORÍAS</h2>
    <div class="grid grid-cols-1 md:grid-cols-7 gap-6 px-4 mx-auto" style="max-width: 100%; grid-template-columns: repeat(7, 1fr);">
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden" style="height: 550px;"> <!-- Altura personalizada -->
            <img src="https://www.topitop.pe/arquivos/240819_banner_desktop_6.png?v=638596431281830000" alt="Vestidos" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2 text-bold">VESTIDOS</p>
        </div>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden" style="height: 550px;">
            <img src="https://www.topitop.pe/arquivos/240819_banner_desktop_1.png?v=638596431272970000" alt="Faldas" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2 text-bold">FALDAS</p>
        </div>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden" style="height: 550px;">
            <img src="https://www.topitop.pe/arquivos/240819_banner_desktop_7.png?v=638596431277930000" alt="Pantalones" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2 text-bold">PANTALONES</p>
        </div>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden" style="height: 550px;">
            <img src="https://www.topitop.pe/arquivos/240819_banner_desktop_12.png?v=638596431283570000" alt="Polos" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2 text-bold">POLOS</p>
        </div>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden" style="height: 550px;">
            <img src="https://www.topitop.pe/arquivos/240819_banner_desktop_6.png?v=638596431281830000" alt="Poleras" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2 text-bold">POLERAS</p>
        </div>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden" style="height: 550px;">
            <img src="https://www.topitop.pe/arquivos/240819_banner_desktop_1.png?v=638596431272970000" alt="Zapatos" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2 text-bold">ZAPATOS</p>
        </div>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden" style="height: 550px;">
            <img src="https://www.topitop.pe/arquivos/240819_banner_desktop_1.png?v=638596431272970000" alt="Zapatos" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2 text-bold">ZAPATOS</p>
        </div>
    </div> 
</section>
