<section class="py-10">
    <h2 class="text-2xl font-bold text-center mb-4 bg-[#f6bbb0] py-3 text-white">CATEGORÍAS</h2>
    <div class="flex justify-center space-x-4 px-4 mx-auto" style="max-width: 1500px;">
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden">
            <img src="/public/img/vestidos.png" alt="Vestidos" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2">VESTIDOS</p>
        </div>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden">
            <img src="/public/img/faldas.png" alt="Faldas" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2">FALDAS</p>
        </div>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden">
            <img src="/public/img/pantalones.png" alt="Pantalones" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2">PANTALONES</p>
        </div>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden">
            <img src="/public/img/polos.png" alt="Polos" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2">POLOS</p>
        </div>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden">
            <img src="/public/img/poleras.png" alt="Poleras" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-white bg-[#f6bbd0] bg-opacity-50 py-2">POLERAS</p>
        </div>
        <div class="relative bg-white rounded-xl shadow-md cursor-pointer overflow-hidden">
            <img src="/public/img/zapatos.png" alt="Zapatos" class="h-full w-full object-cover">
            <p class="absolute bottom-0 left-0 w-full text-center text-justify-center text-white bg-[#f6bbd0] bg-opacity-50 py-2">ZAPATOS</p>
        </div>
    </div>  
</section>
