<footer>
  <p class="text-center text-white bg-black pt-2 pb-2 w-full fixed z-10">
    Envíos a todo el país 📍🎁🇵🇪
  </p>
</footer>

<div id="overlay"></div>

<style>
  /* Estilo de botones personalizados */
  .custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    font-weight: bold;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: -5px;
    margin-left: 5px;
    transition: transform 0.3s ease;
  }

  .custom-button:hover {
    transform: translate(0px, -2px);
  }

  footer p {
    font-size: 1.1rem;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  #landing-header {
    margin-top: 35px;
    top: 0;
    font-family: "Arial", sans-serif;
  }

  #landing-header .nav-text a {
    font-weight: 800;
  }

  /* Estilo del menú móvil */
  #mobile-menu,
  #mobile-menu-categories {
    z-index: 100;
    background-color: #fff0f5;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    display: none;
    padding-top: 5rem;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
  }

  #mobile-menu ul,
  #mobile-menu-categories ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
  }

  #mobile-menu ul li,
  #mobile-menu-categories ul li {
    margin-bottom: 15px;
    width: 100%;
  }

  #mobile-menu ul li a,
  #mobile-menu-categories ul li a {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    text-align: left;
    padding: 10px 20px;
    border-radius: 12px;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  #mobile-menu ul li a:hover,
  #mobile-menu-categories ul li a:hover,
  #mobile-menu ul li a:focus,
  #mobile-menu-categories ul li a:active {
    background-color: #ffd7e5;
    border-radius: 20px;
  }

  /* Separación negra sólo para la última opción */
  #mobile-menu ul li:last-child a,
  #mobile-menu-categories ul li:last-child a {
    border-bottom: 2px solid transparent;
    margin-bottom: 30px;
  }

  /* Estilo de la sección de categorías */
  #mobile-menu-categories ul li a:hover,
  #mobile-menu-categories ul li a:focus,
  #mobile-menu-categories ul li a:active {
    background-color: #ffd7e5;
    border-radius: 20px;
  }

  #mobile-menu.show,
  #mobile-menu-categories.show {
    display: block;
  }

  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
  }

  #overlay.show {
    display: block;
  }

  body.no-scroll {
    overflow: hidden;
  }

  #close-menu,
  #close-menu-categories {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: #000;
  }

  #back-to-menu {
  position: absolute;
  top: 10px; /* Ajustado para estar en la parte superior */
  left: 10px; /* Alineado a la izquierda */
  font-size: 1rem; /* Reducido el tamaño */
  font-weight: bold;
  cursor: pointer;
  color: #000;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s ease;
  width: 36px; /* Ajuste para el tamaño pequeño */
  height: 36px; /* Ajuste para el tamaño pequeño */
}

#back-to-menu img {
  width: 100%; /* Asegura que el ícono ocupe todo el espacio del contenedor */
  height: 100%; /* Ajuste para mantener las proporciones */
}

  #back-to-menu:hover {
    background-color: transparent;
  }

  @media (max-width: 768px) {
    .custom-button {
      width: 40px;
      height: 40px;
    }

    #mobile-menu ul li a,
    #mobile-menu-categories ul li a {
      font-size: 1.2rem;
      padding-left: 20px;
    }

    #mobile-menu ul li a,
    #mobile-menu-categories ul li a {
      font-weight: 700;
    }

    /* Reducir tamaño del icono "Regresar" para móviles */
    #back-to-menu {
      font-size: 1.5rem; /* Reducir el tamaño a 1.5rem para estar igual a la X */
      top: 10px; /* Alineación ajustada */
      left: 10px; /* Alineación ajustada */
    }

    #mobile-menu-categories {
      padding-top: 4rem; /* Espacio suficiente para el ícono */
    }
  }

  .menu-icon {
    width: 24px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
  }

  /* Contenedor del logo y el ícono de menú (tres rayitas) */
  header#landing-header {
    padding-top: 10px; /* Espaciado superior */
    padding-bottom: 10px; /* Espaciado inferior */
    padding-left: 8px; /* Espaciado izquierdo */
    padding-right: 10px; /* Espaciado derecho */
    display: flex; /* Coloca los elementos en línea */
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Centra verticalmente los elementos */
    position: fixed; /* Fija el header al principio */
    width: 100%; /* Ocupa todo el ancho */
    z-index: 40; /* Asegura que quede por encima de otros elementos */
  }

  #landing-header a img {
    width: 96px; /* Ancho del logo */
    height: auto; /* Mantiene las proporciones del logo */
  }

  #menu-toggle {
    font-size: 2rem; /* Tamaño del ícono */
    position: relative; /* Posición relativa para personalización */
    margin-right: 10px; /* Espacio a la derecha entre el menú y el logo */
    cursor: pointer; /* Cambia el cursor a mano al pasar el mouse */
  }

  /* ===========================================
     ESTILO DE LOS BOTONES DE WHATSAPP Y CARRITO
  =========================================== */
  .custom-button {
    display: flex; /* Flexbox para centrar contenido */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    padding: 5px; /* Espaciado interno */
    border-radius: 50%; /* Botón circular */
    font-weight: bold; /* Texto en negrita */
    width: 50px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    background-color: rgba(255, 255, 255, 0.6); /* Fondo semitransparente */
    margin-top: -5px; /* Ajuste vertical */
    margin-left: 5px; /* Ajuste horizontal */
    transition: transform 0.3s ease; /* Animación al pasar el mouse */
  }

  /* Efecto hover para botones de WhatsApp y carrito */
  .custom-button:hover {
    transform: translate(0px, -2px); /* Mueve el botón ligeramente hacia arriba */
  }

  /* Icono de WhatsApp dentro del botón */
  .whatsapp-button img {
    width: 100%; /* El ícono ocupa todo el espacio del botón */
    height: 100%; /* Mantiene las proporciones */
  }

  /* Icono del carrito dentro del botón */
  .cart-icon {
    width: 100%; /* El ícono ocupa todo el espacio del botón */
    height: 100%; /* Mantiene las proporciones */
  }
</style>

<header id="landing-header" class="py-2 px-10 flex items-center fixed top-5 w-full justify-between z-40 text-white bg-[#f6bbd0]">
  <div class="flex items-center">
    <button id="menu-toggle" class="text-3xl focus:outline-none mr-4 lg:hidden">
      ☰
    </button>
    <a href="/">
      <img src="/img/logo.png" alt="Logo" class="w-24 h-auto" />
    </a>
  </div>

  <nav class="hidden lg:flex justify-center w-full">
    <ul class="flex nav-text [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
      <li><a class="hover:bg-pink-400 rounded-xl" href="/">INICIO</a></li>
      <li class="relative group">
        <a href="#" class="cursor-pointer flex items-center hover:bg-pink-400 rounded-xl">
          TIENDA
          <span class="ml-1 transition-transform group-hover:rotate-180">▼</span>
        </a>
        <ul class="absolute opacity-0 invisible group-hover:opacity-100 group-hover:visible bg-[#f6bbd0] text-white mt-2 w-48 shadow-lg rounded-lg transition-all duration-300 ease-in-out z-50">
          <li class="hover:bg-pink-400 px-4 py-2 rounded-lg"><a href="/Categorias/productos_zapatos">ZAPATOS Y ZAPATILLAS</a></li>
          <li class="hover:bg-pink-400 px-4 py-2"><a href="/Categorias/productos_polos">POLOS Y TOPS</a></li>
          <li class="hover:bg-pink-400 px-4 py-2"><a href="/Categorias/productos_poleras">POLERAS Y CASACAS</a></li>
          <li class="hover:bg-pink-400 px-4 py-2"><a href="/Categorias/productos_faldas">FALDAS</a></li>
          <li class="hover:bg-pink-400 px-4 py-2 rounded-lg"><a href="/Categorias/productos_vestidos">VESTIDOS</a></li>
          <li class="hover:bg-pink-400 px-4 py-2"><a href="/Categorias/productos_pantalones">PANTALONES Y SHORTS</a></li>
          <li class="hover:bg-pink-400 px-4 py-2 rounded-lg"><a href="/Categorias/productos_mochilas">CARTEAS Y MOCHILAS</a></li>
          <li class="hover:bg-pink-400 px-4 py-2"><a href="/Categorias/productos_pantys">MEDIAS Y PANTYS</a></li>
          <li class="hover:bg-pink-400 px-4 py-2"><a href="/Categorias/productos_accesorios">ACCESORIOS</a></li>
        </ul>
      </li>
      <li><a class="hover:bg-pink-400 rounded-xl" href="/contacto">SOBRE NOSOTROS</a></li>
      <li><a class="hover:bg-pink-400 rounded-xl" href="/Novedades/Novedades">NOVEDADES</a></li>
    </ul>
  </nav>

  <nav class="flex justify-end">
    <ul class="flex items-center nav-text">
      <li>
        <a href="https://wa.me/tu_numero_de_whatsapp" class="custom-button whatsapp-button">
          <img src="/img/logowhatsap.png" alt="WhatsApp Icon" class="whatsapp-icon" />
        </a>
      </li>
      <li>
        <a href="/carrito" class="custom-button cart-button">
          <img src="/img/carrito-kawai.png" class="cart-icon" alt="Carrito de Compras" />
        </a>
      </li>
    </ul>
  </nav>
</header>


<div id="mobile-menu">
  <span id="close-menu">&times;</span>
  <ul>
    <li><a href="/"><img src="/img/iconos/inicio.png" class="menu-icon" >INICIO</a></li>
    <li>
      <a href="#" id="menu-toggle-categories"><img src="/img/iconos/tienda.png" class="menu-icon" >TIENDA</a>
      <div id="mobile-menu-categories">
        <span id="close-menu-categories">&times;</span>
        <img id=back-to-menu class="back-to-menu" src="/img/iconos/regresar.png" alt="icon" />
        <ul>
          <li><a href="/Categorias/productos_zapatos"><img src="/img/iconos/zapatillas.png" class="menu-icon" >ZAPATOS Y ZAPATILLAS</a></li>
          <li><a href="/Categorias/productos_polos"><img src="/img/iconos/polo.png" class="menu-icon" >POLOS Y TOPS</a></li>
          <li><a href="/Categorias/productos_poleras"><img src="/img/iconos/casaca.png" class="menu-icon" >POLERAS Y CASACAS</a></li>
          <li><a href="/Categorias/productos_faldas"><img src="/img/iconos/falda.png" class="menu-icon" >FALDAS</a></li>
          <li><a href="/Categorias/productos_vestidos"><img src="/img/iconos/vestido.png" class="menu-icon" >VESTIDOS</a></li>
          <li><a href="/Categorias/productos_pantalones"><img src="/img/iconos/pantalon.png" class="menu-icon" >PANTALONES Y SHORTS</a></li>
          <li><a href="/Categorias/productos_mochilas"><img src="/img/iconos/mochila.png" class="menu-icon" >CARTEAS Y MOCHILAS</a></li>
          <li><a href="/Categorias/productos_pantys"><img src="/img/iconos/medias.png" class="menu-icon" >MEDIAS Y PANTYS</a></li>
          <li><a href="/Categorias/productos_accesorios"><img src="/img/iconos/collar.png" class="menu-icon" >ACCESORIOS</a></li>
        </ul>
      </div>
    </li>
    <li><a href="/contacto"><img src="/img/iconos/sobre-nosotros.png" class="menu-icon" >SOBRE NOSOTROS</a></li>
    <li><a href="/Novedades/Novedades"><img src="/img/iconos/novedad.png" class="menu-icon" >NOVEDADES</a></li>
  </ul>
</div>

<script>
  // Toggle for opening and closing menus
  const menuToggle = document.getElementById('menu-toggle');
  const mobileMenu = document.getElementById('mobile-menu');
  const overlay = document.getElementById('overlay');
  const closeMenu = document.getElementById('close-menu');

  const menuToggleCategories = document.getElementById('menu-toggle-categories');
  const mobileMenuCategories = document.getElementById('mobile-menu-categories');
  const closeMenuCategories = document.getElementById('close-menu-categories');
  const backToMenu = document.getElementById('back-to-menu');

  // Open the mobile menu
  menuToggle.addEventListener('click', function() {
    mobileMenu.classList.add('show');
    overlay.classList.add('show');
    document.body.classList.add('no-scroll');
  });

  // Close the mobile menu
  closeMenu.addEventListener('click', function() {
    mobileMenu.classList.remove('show');
    overlay.classList.remove('show');
    document.body.classList.remove('no-scroll');
  });

  // Open the categories menu
  menuToggleCategories.addEventListener('click', function() {
    mobileMenuCategories.classList.add('show');
  });

  // Close the categories menu
closeMenuCategories.addEventListener('click', function() {
  mobileMenuCategories.classList.remove('show');
  mobileMenu.classList.remove('show'); // Cierra el menú principal si estuviera abierto
  overlay.classList.remove('show');    // Oculta el overlay
  document.body.classList.remove('no-scroll'); // Permite el scroll de la página
});

  // Go back to the main menu from the categories menu
  backToMenu.addEventListener('click', function() {
    mobileMenuCategories.classList.remove('show');
    mobileMenu.classList.add('show');
  });

  // Close the overlay when clicked
  overlay.addEventListener('click', function() {
    mobileMenu.classList.remove('show');
    mobileMenuCategories.classList.remove('show');
    overlay.classList.remove('show');
    document.body.classList.remove('no-scroll');
  });
</script>
