---
interface Product {
  id_producto: number;
  nombre_producto: string;
  precio: number;
  img1: string;
}

const { products = [] }: { products?: Product[] } = Astro.props;
---
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Demo styles -->
  <style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #ffffff;
      font-family: Arial, Helvetica, sans-serif, Helvetica, Arial, sans-serif;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
    }

    .mySwiper {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .swiper-container {
      max-width: 1550px;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <h2 class="text-2xl font-bold text-center mb-4 bg-[#f6bbd0] py-3 text-white">NOVEDADES</h2>
  <section class="py-4">
    <div class="swiper-container mt-4">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          {products.length > 0 ? (
            products.map((product) => (
              <div class="swiper-slide">
                <div class="card">
                  <img src={product.img1} alt={`Imagen de ${product.nombre_producto}`} />
                  <div class="card-content">
                    <h2 class="card-title">{product.nombre_producto}</h2>
                    <p class="card-price">Precio: S/ {Number(product.precio).toFixed(2)}</p>
                    <a href="#" class="card-button">Comprar</a>
                  </div>
                </div>
              </div>
            ))
          ) : (
            <p class="text-center">No hay productos disponibles.</p>
          )}
        </div>
      </div>
    </div>
  </section>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs';
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 5,
      spaceBetween: 0,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
      // Cuando la pantalla es menor o igual a 768px
      1556: {
        slidesPerView: 5, // Número de slides por vista en pantallas medianas
      },
      768: {
        slidesPerView: 4, // Número de slides por vista en pantallas pequeñas
      },
      400: {
        slidesPerView: 2, // Número de slides por vista en pantallas pequeñas
      },
      393: {
        slidesPerView: 2, // Número de slides por vista en pantallas pequeñas
        spaceBetween: 2, // Espacio entre slides
      }
    },
  });
</script>
</body>

</html>
