---
import Card from "./Card.astro"
---

<style>
  .container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .product-grid {
    display: grid;
    gap: 1rem;
  }

  .section-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #f6bbd0;
    color: white;
    padding: 0.75rem;
    margin-bottom: 1rem;
  }

  /* Para móviles y tablets pequeñas (menos de 768px) */
  @media (max-width: 767px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* Para tablets grandes (768px a 1023px) */
  @media (min-width: 768px) and (max-width: 1023px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /* Para pantallas de escritorio (1024px y más) */
  @media (min-width: 1024px) {
    .product-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }
</style>

<body>
  <h2 class="section-title">PRODUCTOS</h2>
  <div class="container">
    <section class="py-7">
      <div class="product-grid">
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <!-- Añade más componentes Card según sea necesario -->
      </div>
    </section>
  </div>
</body>