---
import Card from "./Card.astro"
---

<style>
  .container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }

  @media (max-width: 1500px) {
    .product-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 1200px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 900px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 600px) {
    .product-grid {
      grid-template-columns: 1fr;
    }
  }

  .section-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #f6bbd0;
    color: white;
    padding: 0.75rem;
    margin-bottom: 1rem;
  }
</style>

<body>
  <h2 class="section-title">PRODUCTOS</h2>
  <div class="container">
    <section class="py-7">
      <div class="product-grid">
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <!-- Añade más componentes Card según sea necesario -->
      </div>
    </section>
  </div>
</body>